@charset "UTF-8";
#categorySide{
	margin-top:30px;
	float:left;
	width: 160px;
	margin-right: 40px;
}

#showmenu{
  font-weight: bold;
  font-size: 18px;
}

.menu ul{
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.menu{
	border-top:1px solid #cfcfd0; 
}

.menu > ul > li{
	height:30px;
    text-align: left;
  list-style: none;
  margin-top:10px;
  margin-bottom: 10px;

}

.order-a a{
  text-decoration: none;
  color:#8a8a8e;
}

.order-a a:hover{
  color: #35c5f0;
}

.top_menu_info{
	width:100%; 
	height:35px; 
	background: #f4f4f5;
	border-bottom: 1px solid #ebebeb;
	border-top:1px solid #ebebeb;
}

.top_menu_info > div {
	width:1200px; 
	line-height: 35px;  
	margin:0 auto; 
	font-size: 13px;
	color:#a1a1a5;
}

.order-main{
	width:100%;
	height:auto;
	margin:0 auto;
	border: 2px solid #f1f1f1;
}

.top-small-menu{
	float:right;
	width:1000px;
	height:100%;
}

.top-small-menu-title{
	height:50px; 
	line-height:50px; 
	font-size:25px; 
	font-weight: bold;
}

.order-main-container{
	width:60%; 
	height:auto;
	margin:0 auto;
}

.order-info-container{
	width: 100%; 
	background: red;
}

.order-info{
	height:30px;
}

.order-info-title{
	width:20%; 
	float:left;
	color:#acacac;
}

.order-info-value{
	width:80%; 
	height:auto; 
	float:left;
}

.hr-line{
	width:100%; 
	background: #f1f1f1;
}

.order-price-content{
	height:50px;
	width:auto;
	border-top : 1px solid #ebebeb;
}

.order-price-content:last-child {
	border-bottom: 1px solid #ebebeb;
}

.order-price-text{
	width:160px; 
	height:50px; 
	background: #f4f4f5; 
	line-height:50px; 
	float: left;
	border-bottom: 1px solid #ebebeb;
}

.order-price-money{
	width:400px; 
	height:50px; 
	line-height:50px; 
	float: left;
}

.div-line{
	width:100%; 
	height:40px; 
	background: #f4f4f5; 
	line-height: 40px; 
	clear: both; 
	padding-left:200px;
}

.order-main-product{
	width:100%;

}

.order-container-product{
	width:100%;
	margin : 0 auto;
}
.order-content-product{
	display:flex;
	height:120px;
	border-bottom: 1px solid #ebebeb;
}

.order-img{
	cursor: pointer;
}


.order-name {
	width:630px;
	height:120px;
	word-break:break-all;
	cursor: pointer;
}
.order-name-cart{
	width:630px;
	height:120px;
	word-break:break-all;
}

.order-name-text{
	font-weight: 500;
}

.order-amount-text{
	font-size:14px;
	color:#8a8a95;
}

.btn-div{
	text-align: center;
}

.orderlist-btn{
	width:275px;
	height:45px;
	background: #35c5f0;
	color:white;
	font-weight: 500;
	border: 1px solid #35c5f0;
}

.orderlist-btn:hover{
	background:#09addb;
	color:white;
	border: 1px solid #09addb;
}

.history-btn{
	width:275px;
	height:45px;
	font-weight: 500;
}

.order-current a{
	color:#35c5f0;
}

.order-current a:hover{
	text-decoration: none;
}